@import '../../../styles/vars.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(42);
  width: 100%;
  padding: rem(12) rem(20);
  color: #fff;
  background: $primary;
  border: 1px solid;
  border-radius: rem(16);
  border-color: $second;
  font-size: 1rem;
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.1);
  transition: background 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, border-radius 0.2s;

  &:hover {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1c2127;
    background: $second;
    border-color: $primary;
    border-radius: rem(9);
    transition: background 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, border-radius 0.2s,
      font-size 0.2s;
  }
}
.wallet {
  width: fit-content;
  &:hover {
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
  }
}
.disabled {
  background: #7957c364;
  &:hover {
    cursor: not-allowed;
    font-size: 1rem;
    font-weight: normal;
    background: #7957c364;
  }
}

@media screen and (max-width: 350px) {
  .wallet {
    margin-left: rem(12);
  }
}
