@import '../../styles/vars.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  min-width: rem(300);
  max-width: rem(480);
  border-radius: rem(24);
  padding: rem(16) rem(20);
  margin: 0 rem(8);
  color: #fff;
  background-color: $primaryBg;
  font-size: rem(24);
  height: fit-content;
  margin-bottom: rem(20);
  .header {
    text-align: center;
    font-size: rem(36);
  }
  .main-content {
    color: #ffffff88;
  }
}
