@import '../../styles/vars.scss';

.header {
  font-size: rem(24);
  text-align: center;
  margin-bottom: rem(30);
  background-color: #74747310;
  padding: rem(10) rem(20);
  border-radius: rem(50);
}
.pairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: rem(15);
  margin: 0 rem(10);
  .pair {
    list-style: none;
    section {
      gap: rem(10);
      .title {
        display: flex;
        gap: rem(10);
        background-color: $input;
        padding: rem(10) rem(20);
        border-radius: rem(20);
        .coin {
          display: flex;
          gap: rem(10);
          img {
            width: rem(30);
            height: rem(30);
          }
        }
      }
    }
    .body {
      background-color: #74747324;
      padding: rem(10) rem(20);
      border-radius: rem(20);
    }
    .btns {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(10);
      button {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(30);
        color: rgba(255, 255, 255, 0.514);
        background-color: #74747324;
        width: rem(100);
        height: rem(30);
        border-radius: rem(20);
        &:hover {
          background-color: #74747379;
          color: rgba(255, 255, 255, 0.7);
          transform: scale(0.85);
        }
      }
    }
  }
}
