.pairs {
  display: flex;
  flex-direction: column;
  .pair {
    display: flex;
    div {
      .qqq {
        width: 150px;
        height: 15px;
        border: 2px solid white;

        .qq {
          width: 80%;
          height: 100%;
          background-color: orangered;
        }
      }
    }
  }
}
